<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>


  </head>
  <body>
    <h1><%= gamedata.prompt %></h1>

    <form id="post-answer" method="post" action="/checkanswerAreaClick">
    <input type="image" id="logoArea" src="areaclick/<%= gamedata.img %>">
    </form>
  </body>

</html>
