<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <% include header %>
  </head>
  <body>
    <div id="dialog-message">

    <img src="../dragAndDrop/<%=gamedata.img%>.jpg" id="main-image" width="400px" ondragover="allowDrop(event)" ondrop="drop(event)" class="mainImage">

    <form id="main-image-form" action="/dragAndDrop" method="post">
    </form>

    <div id="prompt-images">
      <img src="../dragAndDrop/<%=gamedata.object%>.png" id="prompt-image0" width="100" ondragstart="drag(event)" draggable="true">
    </div>
  </div>


    <% include footer %>
  </body>
</html>
