<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <div id="main-image-div">
      <img src="../dragAndDrop/<%=gameData.img%>.jpg" id="main-image" width="400px" ondragover="allowDrop(event)" ondrop="drop(event)">
    </div>

    <div id="prompt-images">
      <img src="../dragAndDrop/<%=gameData.object%>.png" id="prompt-image0" width="100" ondragstart="drag(event)">
    </div>

  </body>
</html>
