<button id='refreshButton'>Please re-submit Captcha</button>
<script src="captchupFiles/refreshModal.js"></script>

  <script>
  $( "#pageForm" ).submit(function( event ) {
    event.preventDefault()
      $.post("/modal", $("#pageForm").serialize(), function(data) {
          $( "#response" ).empty().append( data );
      });
  });
  </script>
