<head>
  <meta charset="utf-8">
  <title></title>

  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="captchupFiles/loadModal.js"></script>

  <script>

    function drag(event){
      event.dataTransfer.setData("image", event.target.id)
    };

    function allowDrop(event){
      event.preventDefault();
    };

    function drop(event){
      event.preventDefault();
      var coordinates = [event.clientX, event.clientY];
      var form = document.getElementById('main-image-form')
      var string = '<input type="hidden" value="'+ coordinates + '" name="response">'
      form.insertAdjacentHTML('beforeend', string)
      form.submit();
    };

  </script>

</head>
