<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <img src="<%= gameData.mainString %>" id="mainImage" width='600' border=1pt>
    <div id="testImages">
      <form action='/imgAssoc' method='post'>
        <input type="image" src="<%= gameData.promptStrings[0]%>" id="img0" class="testImage" width='200' value="0" name="promptImage">
        <input type="image" src="<%= gameData.promptStrings[1]%>" id="img1" class="testImage" width='200' value="1" name="promptImage">
        <input type="image" src="<%= gameData.promptStrings[2]%>" id="img2" class="testImage" width='200' value="2" name="promptImage">
      </form>
    <div id="testImages">
  </body>
</html>
