<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <img src="<%= mainImage %>" id="mainImage" width='600' border=1pt>
    <div id="testImages">
      <img src="<%= testImages[0]%>" id="testImage1" class="testImage" width='200'>
      <img src="<%= testImages[1]%>" id="testImage2" class="testImage" width='200'>
      <img src="<%= testImages[2]%>" id="testImage3" class="testImage" width='200'>
    <div id="testImages">
    <form id="form" action="/anthony" method="post">
    <label for="text"></label><br>
    <input type="text" name="text" placeholder="Type word in image">
    <input type="submit" name="submit"></input>
    </form>
  </body>
</html>
