<% include header %>

<div id="dialog-message">
  <form action="/modal" method="post" id="pageForm">
  <label>Info
    <input type="text" name="info">
  </label>
  <input type="submit" value="Submit">
</form>

<p id="response">Here</p>
</div>

<% include footer %>
