<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CaptchUp API Test</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="captchupFiles/captchup.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  </head>
  <body>

    <div id="captchup"></div>

    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <form method="post" action="/test" id="captchupForm">
          <div class="form-group">
            <label for="name">Name</label>
            <input class="input-group" type="text" name="name" id="name">
            <label for="password">Password</label>
            <input class="input-group" type="password" name="password" id="password">
            <br>
            <button class="btn btn-succes" type="submit" id="captchupButton">Sign Up!</button>

          </div>
        </form>
        </div>
      </div>
    </div>

    <script src="https://arcane-depths-35133.herokuapp.com/captchupFiles/captchup.js"></script>

  </body>
</html>
