.no-close .ui-dialog-titlebar-close {
  display: none;
}
:required  {
	 background: url(https://cdn0.iconfinder.com/data/icons/fugue/icon/asterisk-small.png) no-repeat;
	 background-position:right top;
	}


.ant  {

     background-color: red;
  	}
