.no-close .ui-dialog-titlebar-close {
  display: none;
}

:required  {
	 background: url(https://cdn0.iconfinder.com/data/icons/fugue/icon/asterisk-small.png) no-repeat;
	 background-position:right top;
	}

.ui-widget-overlay
{
  opacity: .85 !important; /* Make sure to change both of these, as IE only sees the second one */
  filter: Alpha(Opacity=50) !important;
  background-color: rgb(50, 50, 50) !important; /* This will make it darker */
}
